.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.card-img-left {
    max-width: 200px; /* Adjust the max-width as needed */
    width: 100%;
    height: auto; /* Maintain aspect ratio */
}